.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center-vert-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
}

.margin-top-bottom-2 {
    margin: 2rem 0;
}

.margin-top-2-bottom-half {
    margin: 2rem 0 .5 0;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-12 {
    margin-top: 12rem;
}